<div class="col-md-offset-5 col-md-5 text-center">
  <div class="form-login">
    <div class="row" *ngIf="errorMessage">
      <span class="alert alert-danger">{{errorMessage}}</span>
    </div>
    <div class="row">
    <form #f="ngForm" (click)="submit(f)">
      <br>
      <h4>Customer Login</h4><br>
         <div class="form-group">
            <input ngModel #id="ngModel" name="id" type="text" required class="form-control" id="InputId" placeholder="Enter ID*"/>
            <div class="alert alert-danger" *ngIf="id.touched && id.invalid ">
            <span *ngIf="id.errors.required">User ID is required</span>
        </div>
        </div>
        <br>
        <div class="form-group">
          <input ngModel #password="ngModel" name="password" type="password" required class="form-control" password="InputPassword" placeholder="Enter Password*"/> 
          <div class="alert alert-danger" *ngIf="password.touched && password.invalid ">
            <span *ngIf="password.errors.required">Password is required</span>
           </div>
           <br>
        </div>
        <div class="form-group">
          <span class="group-btn">
            <input type="submit" class="btn btn-primary btn-md" value="LogIn" [disabled]="f.invalid">

          </span>
        </div>

     </form>
    </div>
  </div>
</div>
